nav {
  a.on {
    background: #333;
  }
  a {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    background: #666;
    padding: 10px;
    margin: 0 5px 5px 0;
    color: #fff;
    &:hover {
      background: #999;
    }

  }
}
